.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
logs/
postgresql.jar
postgresql-42.2.16.jar
ecoregions.sql
ecoregions_data.RData
ecoregions_plant_diversity.RData
fragmentation_ecoregions.RData
hypervolumes_ecoregions.RData
variables_hypervolume_overlap.RData
workspace.RData
ecy.2614.pdf
ecy2614-sup-0001-datas1
ecy2614-sup-0001-datas1.zip
erw156.pdf
WOODIV.xlsx
erw156_Supplementary_Data.zip
global_tree_search_trees_1_4.csv
ECOG-04609_Monnet_distribution_data.csv
workspace_1_ddbb_preparation.RData
workspace_2_variable_selection.RData
workspace_3_analysis.RData
ecoregions_plant_diversity_ready.RData
Sunbelt 2016 R Network Visualization Handout.pdf
